* {
  font-family: "Poppins", sans-serif;
}

:root {
  --bs-padding-head-top: 30px;
  --bs-padding-head-bottom: 98px;
  --bs-head-bg: url(../images/header.jpg) no-repeat center / cover;
  --bs-head-color: white;
  --bs-margin-head-item: 48px;
  --bs-font-mediam: 400;
  --bs-font-transfar: capitalize;
}
/* common style start */
.sm-tag {
  color: #7968ef;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-transform: var(--bs-font-transfar);
}
.sm-header {
  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  text-transform: var(--bs-font-transfar);
}
/* common style end  */
/* navbar start here */
.nav {
  margin-bottom: var(--bs-padding-head-bottom) !important;
}
.header {
  padding-top: var(--bs-padding-head-top);
  background: var(--bs-head-bg);
  height: 1300px;
}
.header ul li {
  margin-right: var(--bs-margin-head-item);
}
.header ul li:last-child {
  margin-right: 0;
}
.button-seo {
  margin-bottom: 40px;
}
.heading {
  font-weight: 700;
  font-size: 64px;
  line-height: 130%;
  color: var(--bs-head-color);
}
.heading_info {
  width: 780px;
  font-weight: var(--bs-font-mediam);
  font-size: 18px;
  color: var(--bs-head-color);
  opacity: 0.6;
  line-height: 200%;
  margin: 20px auto 48px auto;
}

.button_website input,
.button_website button {
  font-size: 16px;
}
.button_website button {
  background-color: #6a55ea !important;
}
.button_website button:hover {
  background-color: #351fc7 !important;
}

.brand {
  margin-top: -100px;
}
.brand img {
  margin-right: 110px;
  z-index: 1;
}
.brand img:last-child {
  margin-right: 0;
}
/* navbar end here  */
/* service start here */
.service {
  margin-bottom: 210px;
}
.dis {
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
  color: #29313d;
  margin-top: 17px;
  margin-bottom: 24px;
}
.service_item1 {
  background: #f0edff;
}
.service_item2 {
  background: #fef6ec;
}
.service_item3 {
  background: #e8fcf2;
}
/* traffic start here */
.traffic,
.help, {
  margin-bottom: 220px;
}
.traffic_left .dis {
  color: #29313d;
}
/* traffic end here */
/* help start here */
.help_top {
  margin-bottom: 60px;
}
.help1 {
  background-color: #fef6ec;
}

.help2 {
  background-color: #f0edff;
}

.help3 {
  background-color: #e8fcf2b2;
}
.help_bottom_up {
  margin-bottom: 100px;
}
.help_dis {
  margin-top: 24px;
  margin-bottom: 48px;
}
.help_button button {
  font-size: 16px;
}
.help_button button {
  background-color: #6a55ea !important;
}
.help_button button:hover {
  background-color: #351fc7 !important;
}
/* help end  */
/* work start  */

.works {
  margin-bottom: 110px;
}
.work_top_right button {
  background-color: #6a55ea !important;
}
.work_top_right button:hover {
  background-color: #351fc7 !important;
}
.work_top {
  margin-bottom: 60px;
}
/* work end */
/* plans start here */
.plans {
  padding-top: 110px;
  padding-bottom: 120px;
  background-color: rgba(241, 251, 251, 0.5);;
}
/* plans end here */
/* analytics start here */
.main {
  background: url(../images/Get\ your\ free\ seo\ analytics.jpg) no-repeat  center/cover ;
  border-radius: 70px;
  margin: 110px 0;
  padding: 120px 0;
}

/* analytics end here */
/* footer start here  */
.footer{
  padding: 140px 0 57px;
}
/* footer end here  */